<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <link rel="stylesheet" href="{% static 'base/css/estilo.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
 
  <nav class="navbar navbar-expand-lg bg-light bg-transparent">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
            <img src="{% static 'base/img/logo.svg' %}" width="230px">
      </a>

      &emsp;&emsp;
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Modelos</a>
          </li>
          
          &emsp;&emsp;
          <li class="nav-item">
            <a class="nav-link active" href="#">alguma coisa</a>
          </li>

          &emsp;&emsp;

          <li class="nav-item">
            <a class="nav-link active" href="#">Histórico</a>
          </li>

          &emsp;&emsp;

          <li class="nav-item">
            <a class="nav-link active">Sobre Nós</a>
          </li>

          &emsp;&emsp;


          {% if request.user.is_authenticated %}
          
          <li class="nav-item">
            <div class="dropdown">
                <img height="55px" src="{% static 'base/img/user.png' %}" class="dropdown-toggle" type="button" data-bs-toggle="dropdown">
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="{% url 'perfil' %}">Meu Perfil</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
              </ul>
            </div>
          </li>
        
          
          {% else %}
          <li class="nav-item">
                
            <link rel="stylesheet" href="{% static 'base/css/btn-acessar.css' %}">
            <button>
                <a href="{% url 'login' %}" style="text-decoration:none; color: #000;">Acessar</a>
                <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="37" cy="37" r="35.5" stroke="black" stroke-width="3"></circle>
                  <path d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z" fill="black"></path>
                </svg>
              </button>
          </li>
          <p>
        {% endif %}



        </ul>
      </div>
    </div>
  </nav>
<br>


{% block content %}
    

{% endblock %}

    
</body>
</html>